.header{
    
    background-color: blueviolet;
    color:white;
    position: fixed;
    width:1245px;
    
}
.body{

    margin-top: 10px;
    height: 400px;
}
.footer{
    background-color:blueviolet ;
    margin-top: 5px;
    height: 200px;

}
.teletext{
    font-size:xx-large;
    margin-left: 5px;
    
}
.holiday{
    margin-left: 300px;
}
.cheapholiday{
    margin-left: 60px;
}
.allinclusive{
    margin-left: 60px;
}
.lastminute{
    margin-left: 60px;
}
.longhaul{
    margin-left: 60px;
}

